/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #242742;
  background-color: #36384e;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}

/* GENERAL */

.btn {
  color: #fff;
  background-color: #242742;
  font-weight: 600;
  padding: 1.6rem;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #3a3d55;
}

.btn:active {
  background-image: linear-gradient(
    to right,
    rgb(255, 80, 109),
    rgb(255, 87, 36)
  );

  box-shadow: 0 1px 30px 0 rgba(255, 80, 109, 0.2),
    0 20px 30px 0 rgba(255, 87, 36, 0.2);
}

/* REFACTORED */
.subscription-description,
.subscription-features li,
.subscription-input::placeholder,
.success-description {
  font-size: 1.4rem;
}

.subscription-title,
.subscription-label {
  font-weight: 800;
}

.subscription-input,
.btn {
  border-radius: 0.7rem;
}

.subscription-container,
.success-container {
  border-radius: 3.1rem;
}

.subscription-information,
.success-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* SUBSCRIPTION SECTION */
.subscription-container {
  display: flex;
  background-color: #fff;
  height: 55rem;
  width: 79.8rem;
  margin: 19rem auto 0 auto;
}

.subscription-information {
  padding: 5.6rem;
}

.subscription-title {
  font-size: 4.9rem;
  margin-bottom: 1.4rem;
}

.subscription-description {
  margin-bottom: 1.9rem;
}

.subscription-features {
  list-style: none;
  margin-bottom: 2.4rem;
}

.subscription-features li {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.subscription-icon {
  width: 1.9rem;
}

.subscription-form {
  display: flex;
  flex-direction: column;
}

.subscription-label {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
}

.subscription-input {
  margin-bottom: 1.8rem;
  border: 0.1rem solid #cecece;
  padding: 1.6rem 1.9rem;
}

.subscription-input::placeholder {
  opacity: 0.8;
}

.subscription-desktop-img {
  padding: 2rem 2rem 2rem 0;
}

.subscription-mobile-img {
  display: none;
}

/* SUCCESS SECTION */
.success-container {
  background-color: #fff;
  height: 44.9rem;
  width: 43.3rem;
  margin: 24rem auto 0 auto;
}

.success-information {
  padding: 4rem 5.6rem;
}

.success-icon {
  width: 5.5rem;
  margin-bottom: 2.8rem;
}

.success-title {
  font-size: 5rem;
  letter-spacing: -0.1rem;
  line-height: 5rem;
  margin-bottom: 2.2rem;
}

.success-description {
  margin-bottom: 3.5rem;
}

/* MEDIA QUERIES */

/* 848px / 16 = 53 */
@media (max-width: 53em) {
  .subscription-container,
  .success-container {
    display: flex;
    flex-direction: column;
    height: 84rem;
    width: 37.6rem;
    margin: 4.4rem auto 0 auto;
    border-radius: 0;
  }

  .subscription-desktop-img {
    display: none;
  }

  .subscription-mobile-img {
    display: block;
    order: 1;
  }

  .subscription-information {
    order: 2;
    padding: 3.1rem 2.4rem 2.4rem 2.4rem;
  }

  .subscription-title {
    font-size: 4rem;
    margin-bottom: 1.8rem;
  }

  .subscription-description {
    margin-bottom: 2.6rem;
  }

  .subscription-features {
    margin-bottom: 3.1rem;
  }

  .subscription-description,
  .subscription-features li {
    font-size: 1.6rem;
  }

  .subscription-features li {
    gap: 1.5rem;
    align-items: flex-start;
    margin-bottom: 1.2rem;
  }

  .subscription-icon {
    width: 2.3rem;
  }

  .subscription-label {
    font-size: 1.2rem;
  }

  .subscription-input {
    padding: 2rem 2.4rem;
    margin-bottom: 2.3rem;
  }

  .subscription-input::placeholder {
    font-size: 1.6rem;
  }

  .subscription-button,
  .success-button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
  }

  .success-information {
    order: 2;
    padding: 3.1rem 2.4rem 2.4rem 2.4rem;
    margin-top: 13.2rem;
  }

  .success-icon {
    width: 6.6rem;
    margin-bottom: 4.2rem;
  }

  .success-title {
    font-size: 4rem;
    letter-spacing: 0;
    line-height: 4rem;
    margin-bottom: 2.4rem;
  }

  .success-description {
    font-size: 1.6rem;
    margin-bottom: 26.2rem;
    line-height: 2.4rem;
  }
}

/* 432px / 16 = 27 */

@media (max-width: 27em) {
  html {
    font-size: 55%;
  }

  .subscription-container,
  .success-container {
    margin: 10rem auto 0 auto;
  }
}

/* SWITCH BETWEEN SUBSCRIPTION AND SUCCESS */
.hidden {
  display: none;
}
